<h1>List of Work experiences</h1>

<ul>
    <% @experiences.each do |experience| %>
        <li><%= link_to("#{experience.employer}: #{experience.title}", work_experience_path(experience)) %></li>
    <% end %>
</ul>